<app-header-page page="Création d'une promesse de vente"></app-header-page>
<div  class="col-sm-6 offset-sm-3 mt-2">
  <div class="row">
    <div class="col-md-8">
         <form [formGroup]="promesseForm">

        <div class="form-group">
          <label for="marque">marque</label>
          <input type="text" id="marque" formControlName="marque" class="form-control">
        </div>

        <div class="form-group">
          <label for="modele">modele</label>
          <input type="text" id="modele" class="form-control" formControlName="modele">
        </div>

        <div class="form-group">
          <label for="carateristique_technique">caractéristique technique</label>
          <textarea name="carateristique_technique"
                    id="carateristique_technique"
                    cols="30" rows="7"
                    class="form-control"
                    formControlName="carateristique_technique"></textarea>
        </div>

        <div class="form-group">
          <label for="etat_esthetique">etat esthétique</label>
          <textarea name="etat_esthetique"
                    id="etat_esthetique"
                    cols="30" rows="7"
                    class="form-control"
                    formControlName="etat_esthetique"></textarea>
        </div>


        <button class="btn btn-success" style="margin-top: 15px;" (click)="onSubmit()">Création promesse de vente </button>

      </form>
    </div>

  </div>
</div>

