<app-header-page page='Home'></app-header-page>
<section class="about-section pt-80 pb-50">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 mb-30">
              <div class="about-content">
                  <h2 class="title mb-20">Bienvenue sur Green Repack</h2>
                  <p class="mb-20">
                    Ce site vous permet de vendre vos objets inutilisés ou bien d'en acheter à des particuliers via notre entreprise
                  </p>
              </div>
          </div>
      </div>
  </div>
</section>

