<app-header-page page="Vue d'article"></app-header-page>
<section class="product-single theme3 pt-60">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 mt-5 mt-md-0">
              <div class="single-product-info">
                  <div class="single-product-head">
                      <h2 class="title mb-20">Marque : {{article.marque}}</h2>
                      <h3 class="title mb-20">Modele : {{article.modele}}</h3>
                      <h4 class="title mb-20">Prix: {{article.prix}}</h4>
                      <p>Caractéristiques techniques :
                        {{article.caracteriques_technique}}
                      </p>
                      <p>Etat esthétique:
                        {{article.etat_esthetique}}
                      </p>
                  </div>
                  <div class="product-footer">
                      <div class="product-count style d-flex flex-column flex-sm-row mt-30 mb-30">
                        <div>
                          <button style="margin-left: 5px;" class="btn btn-success" (click)="onSubmit()">Acheter</button>
                          <button style="margin-left: 5px;" class="btn btn-primary" (click)="retourList()">Retour</button>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
  </div>
</section>
