<div  class="col-sm-6 offset-sm-3 mt-2">
  <div class="row">
    <div class="col-md-8">

      <form [formGroup]="categoryForm">

        <div class="form-group">
          <label for="titre">titre</label>
          <input type="text" placeholder="Nouvelle Catégorie" id="titre" formControlName="titre" class="form-control">
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" placeholder="Description categorie" id="description" formControlName="description" class="form-control">
        </div>

        <button class="btn btn-success" (click)="onSubmit()">Ajout article référence </button>

      </form>
    </div>

  </div>
</div>

