<app-header-page page="Liste d'articles références"></app-header-page>
<div>
  <button style="margin-left: 825px; margin-bottom: 15px;" class="btn btn-warning" [routerLink]="['/createArticleExample']">Créer un article référence</button>
</div>

<div class="container">
  <div class="tab-pane">
    <div class="row grid-view theme1">
      <div class="col-sm-6 col-md-4 mb-30" *ngFor="let example of examples">
        <div class="card card-product">
          <div class="card-body">
            <div class="product-thumbnail position-relative">
              <div class="product-desc py-0">
                <h3 class="title">Marque: {{example.marque}}</h3>
                <h3 class="title">Modele: {{example.modele}}</h3>
                <h3 class="title">Prix: {{example.prix}}</h3>
                <div class="d-flex algin-items-center justify-content-between">
                  <button class="btn btn-success" [routerLink]="['/viewArticleExample', example._id]">Modification</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
