<app-header-page page="Demandes de clients pour devenir marchandd"></app-header-page>
<div class="container">
  <div class="tab-pane" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    <div class="row grid-view theme1">
      <div class="col-sm-6 col-md-4 mb-30" *ngFor="let user of clients">
        <div class="card card-product">
          <div class="card-body">
            <div class="product-thumbnail position-relative">
              <div class="product-desc py-0">
                <h3 class="title">Nom de profil : {{user.username}}</h3>
                <h4 class="title">Prénom : {{user.firstname}}</h4>
                <h5 class="title">Nom {{user.lastname}}</h5>
                <div class="d-flex algin-items-center justify-content-between">
                  <button class="btn btn-success" (click)="accepterDemande(user._id)">Accepter la demande</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

