<app-header-page page="Articles que j'ai mis en vente"></app-header-page>
<div class="container">
  <div class="tab-pane" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    <div class="row grid-view theme1">
      <div class="col-sm-6 col-md-4 mb-30" *ngFor="let article of articles">
        <div class="card card-product">
          <div class="card-body">
            <div class="product-thumbnail position-relative">
              <div class="product-desc py-0">
                <h3 class="title">Marque : {{article.marque}}</h3>
                <h4 class="title">Modele : {{article.modele}}</h4>
                <h5 class="title">Prix de vente : {{article.prix}}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
