<nav class="navbar navbar-expand-lg navbar-light" style="background-color: darkgreen;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Green Repack</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" *ngIf="isClient &&isAuth" routerLink="listArticles">Articles en vente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" *ngIf="isClient && isMarchand && isAuth" routerLink="listPromessesUser">Mes promesses en attente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" *ngIf="isClient && isAuth" routerLink="achatUser">Mes achats</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" *ngIf="isMarchand && isClient && isAuth" routerLink="produitVente">Mes Produits en vente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" *ngIf="!isClient && !isMarchand && isAuth" routerLink="listPromesses">Promesses en attente de prise en charge</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" *ngIf="!isClient && !isMarchand && isAuth" routerLink="listPromessesCharge">Promesses prises en charge</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" *ngIf="!isClient && !isMarchand && isAuth" routerLink="gestionArticles">Gestion articles en vente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" *ngIf="!isClient && !isMarchand && isAuth" routerLink="listCategory">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" *ngIf="!isClient && !isMarchand && isAuth" routerLink="listArticleExample">Articles références</a>
        </li>
      </ul>
      <a class="btn btn-success m-1" *ngIf="isClient && isAuth" routerLink="accountPage">Mon compte</a>
      <a class="btn btn-success m-1" *ngIf="!isAuth" routerLink="login">Connexion</a>
      <a class="btn btn-warning m-1"  *ngIf="!isAuth" routerLink="signup">Inscription</a>
      <a class="btn btn-danger m-1" *ngIf="isAuth" (click)="logout()">Logout</a>
    </div>
  </div>
</nav>
