<app-header-page page="Promesse en attente de prise en charge"></app-header-page>
<div class="container" id="pills-tabContent">
  <div class="tab-pane" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    <div class="row grid-view theme1">
      <div class="col-sm-6 col-md-4 mb-30" *ngFor="let promesse of promesses">
        <div class="card card-product">
          <div class="card-body">
            <div class="product-thumbnail position-relative">
              <div class="product-desc py-0">
                <h3 class="title">{{promesse.marque}}</h3>
                <h4 class="title">{{promesse.modele}}</h4>
                <div>
                  <button class="btn btn-success" [routerLink]="['/priseEnCharge', promesse._id]">Modification</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
