<app-header-page page="Creation d'un article"></app-header-page>
<div  class="col-sm-6 offset-sm-3 mt-2">
  <div class="row">
    <div class="col-md-8">

      <form [formGroup]="exampleForm">

        <div class="form-group">
          <label for="marque">marque</label>
          <input type="text" placeholder="Marque" id="marque" formControlName="marque" class="form-control">
        </div>

        <div class="form-group">
          <label for="modele">modele</label>
          <input type="text" id="modele" placeholder="Modele" class="form-control" formControlName="modele">
        </div>

        <div class="form-group">
          <label for="prix">prix en Euros</label>
          <input type="text" id="prix" placeholder="Prix en Euros" class="form-control" formControlName="prix">
        </div>

        <button class="btn btn-success" (click)="onSubmit()">Ajout catégorie </button>

      </form>
      <?PHP
        $content = array(
          "en" => 'English Message'
        );
        $fields = array(
          'app_id' => "76298a49-5b5c-49c5-a290-461b7f9dd321",
          'included_segments' => array(
              'Subscribed Users'
          ),
          'contents' => 'Les articles suivant sont maintenant ouvert à la vente : '+$('#marque').value() + ' '+ $('#modele').value()
        );

        $fields = json_encode($fields);


        $ch = curl_init();
        curl_setopt($ch, CURLOPT_URL, "https://onesignal.com/api/v1/notifications");
        curl_setopt($ch, CURLOPT_HTTPHEADER, array(
        'Content-Type: application/json; charset=utf-8',
        'Authorization: Basic MmZjMDkyY2ItYWQ1YS00ZTBmLWFjN2YtYjQ3YmEwMzVhOTc2'
        ));
        curl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);
        curl_setopt($ch, CURLOPT_HEADER, FALSE);
        curl_setopt($ch, CURLOPT_POST, TRUE);
        curl_setopt($ch, CURLOPT_POSTFIELDS, $fields);
        curl_setopt($ch, CURLOPT_SSL_VERIFYPEER, FALSE);

        $response = curl_exec($ch);
        curl_close($ch);

        return $response;
      ?>
    </div>

  </div>
</div>

