<app-header-page page="Page de profil"></app-header-page>
<div class="tab-content container" id="myTabContent" *ngIf='isLoaded'>
  <div id="home" role="tabpanel" aria-labelledby="home-tab">
    <h3>Bonjour {{user.firstname}}</h3>
    <p *ngIf="isMarchand">Vous pouvez créer des promesses de vente</p>
  </div>
  <div class="container" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <h3>Profile</h3>
    <form [formGroup]="userForm">
        <label for="firstname">Firstname</label>
        <input class="form-control" type="text" id="firstname" name="firstname" formControlName="firstname">
        <label for="lastname">Lastname</label>
        <input class="form-control" type="text" id="lastname" name="lastname" formControlName="lastname">
        <label for="username">Address</label>
        <input class="form-control" type="text" id="username" name="username" formControlName="address">
        <button class="btn btn-success mt-3" (click)="onSubmit()">Mise a jour des informations utilisateurs</button>
    </form>
  </div>
</div>
