<section class="product-single theme3 pt-60">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 mt-5 mt-md-0">
              <div class="single-product-info">
                  <div class="single-product-head">
                      <h2 class="title mb-20">{{promesse.marque}}</h2>
                      <h3 class="title mb-20">{{promesse.modele}}</h3>
                      <h4 class="title mb-20">{{promesse.prix}}</h4>
                      <p>Caractéristiques techniques:
                        {{promesse.caracteriques_technique}}
                      </p>
                      <p>Etat esthétique
                        {{promesse.etat_esthetique}}
                      </p>
                  </div>
                  <div class="product-footer">
                      <div class="product-count style d-flex flex-column flex-sm-row mt-30 mb-30">

                          <div>
                              <button class="btn theme-btn--dark3 btn--xl mt-5 mt-sm-0 rounded-5">
                                Modifier
                            </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
  </div>
</section>

