<app-header-page page="Modification de promesse de vente"></app-header-page>
<div  class="col-sm-6 offset-sm-3 mt-2">
  <div class="row">
    <div class="col-md-8" *ngIf='isLoaded'>

      <form [formGroup]="promesseForm">

        <div class="form-group">
          <label for="marque">marque</label>
          <input type="text" id="marque" formControlName="marque" class="form-control">
        </div>

        <div class="form-group">
          <label for="modele">modele</label>
          <input type="text" id="modele" class="form-control" formControlName="modele">
        </div>

        <div class="form-group">
          <label for="carateristique_technique">caractéristique technique</label>
          <textarea name="carateristique_technique"
                    id="carateristique_technique"
                    cols="30" rows="7"
                    class="form-control"
                    formControlName="carateristique_technique"></textarea>
        </div>

        <div class="form-group">
          <label for="etat_esthetique">etat esthétique</label>
          <textarea name="etat_esthetique"
                    id="etat_esthetique"
                    cols="30" rows="7"
                    class="form-control"
                    formControlName="etat_esthetique"
                    placeholder="Décrivez l'etat de votre objets"></textarea>
        </div>

        <div class="form-group">
          <label for="prix">prix</label>
          <input type="text" id="prix" class="form-control" formControlName="prix">
        </div>

        <div class="form-group">
          <label for="etat">etat promesse</label>
          <input type="text" id="etat" class="form-control" formControlName="etat">
        </div>

        <button style="margin-top:15px; margin-left:5px;" class="btn btn-primary" *ngIf='!isReception' (click)="reception()">Objet Receptionné</button>
        <button style="margin-top:15px; margin-left:5px;" class="btn btn-success" *ngIf='isReception' (click)="venteA()">Mise en vente acceptée</button>
        <button style="margin-top:15px; margin-left:5px;" class="btn btn-danger" *ngIf='isReception' (click)="venteR()">Mise en vente refusée</button>
        <button style="margin-top:15px; margin-left:5px;" class="btn btn-warning" *ngIf='isReception' (click)="contreO()">Contre Offre envoyée</button>
        <button style="margin-top:15px; margin-left:5px;" class="btn btn-danger" *ngIf='isContreOffre' (click)="contreOffreR()">Refus Contre Offre</button>
        <button style="margin-top:15px; margin-left:5px;" class="btn btn-primary" (click)="retourList()">Retour</button>

      </form>
    </div>

  </div>
</div>
