<section class="product-single theme3 pt-60">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 mt-5 mt-md-0">
              <div class="single-product-info">
                  <div class="single-product-head">
                      <h2 class=" mb-20">Titre : {{category.titre}}</h2>
                      <p>Description :
                        {{category.description}}
                      </p>
                  </div>
                  <div class="product-footer">
                      <div class="product-count style d-flex flex-column flex-sm-row mt-30 mb-30">

                          <div>
                              <button class="btn btn-danger" (click)="deleteCategory(category)">
                                Supprimer Catégorie
                            </button>
                            <button style="margin-left:5px;" class="btn btn-primary" (click)="retourList()">
                              Retour
                          </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
  </div>
</section>
