<footer class="py-5">
  <div class="d-flex justify-content-between py-4 my-4 border-top">
    <p style="text-align: center;">Green Repack</p>
    <p style="text-align: center;">@Copyright</p>
  </div>
  </footer>
