<app-header-page page="Inscription"></app-header-page>

<div class="container">
  <h3 class="title">Create an account</h3>
  <form [formGroup]="signupForm">
    <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" formControlName="username" id="username" aria-describedby="username">
      <div *ngIf="signupForm.hasError('required', 'username')"></div>
    </div>
    <div class="mb-3">
      <label for="firstname" class="form-label">Firstname</label>
      <input type="text" class="form-control" formControlName="firstname" id="firstname" aria-describedby="firstname">
      <div *ngIf="signupForm.hasError('required', 'firstname')"></div>
    </div>
    <div class="mb-3">
      <label for="lastname" class="form-label">Lastname</label>
      <input type="text" class="form-control" formControlName="lastname" id="lastname" aria-describedby="lastname">
      <div *ngIf="signupForm.hasError('required', 'lastname')"></div>
    </div>
    <div class="mb-3">
      <label for="address" class="form-label">Address</label>
      <input type="text" class="form-control" formControlName="address" id="address" aria-describedby="address">
      <div *ngIf="signupForm.hasError('required', 'address')"></div>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" formControlName="email" id="email" aria-describedby="email">
      <div *ngIf="signupForm.hasError('required', 'email')"></div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" formControlName="password" id="password">
      <div *ngIf="signupForm.hasError('required', 'password')"></div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="signupForm.invalid" (click)="onSubmit()">Sign up</button>
  </form>
</div>
