<app-header-page page="Liste des catégories"></app-header-page>
<div>
  <button style="margin-left: 825px; margin-bottom: 15px;" class="btn btn-warning" [routerLink]="['/createCategory']">Créer une catégorie</button>
</div>

<div class="container">
  <div class="tab-pane" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    <div class="row grid-view theme1">

      <div class="col-sm-6 col-md-4 mb-30" *ngFor="let category of categories">
        <div class="card card-product">
          <div class="card-body">
            <div class="product-thumbnail position-relative">
              <div class="product-desc py-0">
                <h3 class="title">Catégorie: {{category.titre}}</h3>
                <div class="d-flex algin-items-center justify-content-between">
                  <button class="btn btn-success" [routerLink]="['/viewCategory', category._id]">Voir catégorie</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
