<app-header-page page="Articles en vente"></app-header-page>
<div class="container">
  <div class="tab-pane" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    <div class="row grid-view theme1">
      <div class="col-sm-6 col-md-4 mb-30" *ngFor="let article of articles">
        <div class="card card-product">
          <div class="card-body">
            <div class="product-thumbnail position-relative">
              <div class="product-desc py-0">
                <h3 class="title">{{article.marque}}</h3>
                <h4 class="title">{{article.modele}}</h4>
                <div class="d-flex algin-items-center justify-content-between">
                  <button class="btn btn-primary" [routerLink]="['/viewArticle', article._id]">Voir l'article</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

